[tool.poetry]
name = "astro-ph"
version = "0.1.0"
description = "Post astro-ph articles translated by DeepL to Slack"
authors = ["Akio Taniguchi <taniguchi@a.phys.nagoya-u.ac.jp>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/astropenguin/astro-ph/"
documentation = "https://astropenguin.github.io/astro-ph/"

[tool.poetry.dependencies]
python = "^3.6"
arxiv = "^0.5"
dataclasses = { version = "^0.7", python = "~3.6" }
selenium = "^3.141"
typing-extensions = "^3.7"

[tool.poetry.dev-dependencies]
black = "^20.8b"
chromedriver-binary-auto = "^0.1"
flake8 = "^3.8"
ipython = "^7.16"
jedi = "^0.17"
pytest = "^6.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
