[tool.poetry]
name = "astro-ph"
version = "0.2.1"
description = "Translate and post arXiv articles to Slack"
authors = ["Akio Taniguchi <taniguchi@a.phys.nagoya-u.ac.jp>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/astropenguin/astro-ph/"
documentation = "https://astropenguin.github.io/astro-ph/"

[tool.poetry.dependencies]
python = "^3.7"
aiohttp = "^3.7"
feedparser = "^6.0"
fire = "^0.4"
pyppeteer = "^0.2"
typing-extensions = "^3.7"

[tool.poetry.dev-dependencies]
black = "^20.8b"
flake8 = "^3.8"
ipython = "^7.20"
pydata-sphinx-theme = "^0.4"
pytest = "^6.2"
sphinx = "^3.5"

[tool.poetry.scripts]
astro-ph = 'astro_ph.cli:cli'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
